*:not(body,html){
  /* border: 0.1px solid grey; */
  /* box-sizing: border-box; */
}

body{background-color:#fff;}

.main-pic>img{
  width: 100%;
  margin-bottom:20px;
}
.space{
  clear: both;
  height: 70px;
}


/* ---------- 아이콘설정 ----------- */
#icons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  vertical-align: middle;

}

.icon-a{
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 5px;
  
}
.icon-a > img{
  display: inline-block;
  width: 100%;
  height: 100%;
}

#icons > .icon-a > .main-icons-text{margin-top:12px; font-size:18px; position:relative; letter-spacing:-0.5px; text-align:center; color:#000;}
/* ---------- 아이콘 설정 끝 ----------- */


/* 분류별 여백 */
.space{
  clear: both;
  height: 70px;
}


/* 메인페이지 제목 */
.title{
  font-size: 30px;
  color: black;
  margin: 0px;
  padding: 0px;
  text-align: center;

}

/*  -------------- 기획전 설정  -------------- */

/* 기획전 */

#promotions{
  width: 100%;

}

.promotion{
  height: 500px;
  top: 80px;
}

.promotion>a{
  width: 550px;
  height: 200px;
  float: left;
  margin-left: 10px;
  box-sizing: border-box;
  padding: 30px;
  padding-top: 45px;
  color: rgb(255, 255, 255);
  
}

.promotion>a:nth-child(3),.promotion>a:nth-child(4){
  margin-top: 10px;
  margin-bottom: 20px;

}

.promotion>a:nth-child(2),.promotion>a:nth-child(4){
  margin-right: 5px;

}

.promotion>a>*{
  margin: 0px;
}
.promotion>a>h3{
  margin: 0px;
  font-size: 22px;
}

.promotion > a:nth-child(1){
  background-image: url("../images/main_body/promotion_pic_01.jpg");
}
.promotion > a:nth-child(2){
  background-image: url("../images/main_body/promotion_pic_02.png");
}
.promotion > a:nth-child(3){
  background-image: url("../images/main_body/promotion_pic_03.png");
}
.promotion > a:nth-child(4){
  background-image: url("../images/main_body/promotion_pic_04.png");
}

/* 더보기  */
.more{
  clear: left;
  width: 1110px;
  height: 50px;
  text-align: center;
  line-height: 48px;

}

.more>a{
  border: 1px solid rgba(114, 114, 114, 1);
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
  background-color: white; 
  margin: 0px;
  margin-left: 10px;

}

/*  -------------- 기획전 설정 끝  -------------- */




/*  -------------- 추천공간 설정  -------------- */

#recommends{
  width: 100%;


}
#recommends>section{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recommend-item{
  width: 365px;
  height: 325px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.recommend-item >a{
  width: 100%;
  height: 100%;
  display: block;
}

/*  이미지 부분  */
.img-box{
  width: 100%;
  height: 66%;
  background-size: 100%;
}
/* 
.img-box:nth-child(1){
  background-image: url("../images/main_body/recommend_img_01.jpeg");
} */


.recommend-item >a:hover{
  background-color: rgba(159, 121, 255, 0.279);
}


/* 내용부분  */
.info-box{
  width: 100%;
  height: 38%;
  border-bottom: 1px  solid lightgray;
  padding-top: 10px;
  background-color: white;
}

.info-box>*{
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 2px;
}

.info-box>h3{
  color: rgb(35, 35, 35);
  margin-top: 10px;
  font-size: 20px
}

.location{
  
  display:inline-block;
  font-weight: bold;
  color: rgb(76, 76, 76);
  font-size: 0.9em;

}


.price-box{
  margin-top: 15px;
  font-size: 13px;
}

.price{
  letter-spacing:-0.5px;
  font-size: 20px;
}

.like-comment{
  float: right;

  font-size: 12px;
  margin-top: 8px;
  line-height: 5px;
}
.pricebox-icon{
  display: inline-block;
  width: 15px;
  height: 15px;
}

.icon-people{
  background-image:url("../images/main_body/icon_people.svg");
}
.icon-comment{
  background-image:url("../images/main_body/icon_comment.svg");

}
.icon-like{
  background-image:url("../images/main_body/icon_like.svg");
}
