main > section *{
  text-align: center;
  box-sizing: border-box;
}

/* ---------- 아이콘설정 ----------- */
.icon-a{
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 50px;
}
.icon-a > img{
  display: inline-block;
  width: 100%;
  height: 100%;
}

#icons>.icon-a:nth-last-child(1){
  margin-right: 0px;
}
/* ---------- 아이콘 설정 끝 ----------- */


/* 분류별 여백 */
.space{
  width: 1100%;
  height: 80px;
}

/* 메인페이지 제목 */
.title{
  font-size: 30px;
  color: black;
  margin-bottom: 0px;
  text-align: center;
}

/*  -------------- 기획전 설정  -------------- */

/* 기획전 */
.poromotion{
  margin: 10px;
  width:48%;
  height: 30%;
  float: left;
}

.poromotion>a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 100%;
  float: left;
  text-align: left;
  padding: 35px;
}

.poromotion>a:nth-last-of-type(1){
  background-image: url("/main/images/main_body/promotion_pic_01.jpg");
  text-align: left;
}

.promotion-title{
  margin: 0;
  font-size: 20px;
  text-align: left;
}

.poromotion>a>p{
  text-align: left;
  font-weight: lighter;
}

/* 더보기  */
.more{
  margin-top: 20px;
  padding: 10px;
  clear: both;
  text-align: center;
  border: 1px solid #656565;
}
.more>a{
  text-decoration: none;
  color: #656565;
}
/*  -------------- 기획전 설정 끝  -------------- */

/*  -------------- 추천공간 설정  -------------- */

