<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>예약내역 확인 및 취소 페이지</title>
  <link rel="stylesheet" type="text/css" href="css/common.css">    
  <link rel="stylesheet" type="text/css" href="css/revervation.css">
  <link rel="stylesheet" type="text/css" href="css/footer.css">
</head>
<body>
<!-- modal (close : layer_popup)-->
<div class="modal"></div>
    
<!-- side menu -->
<div class="side_menu">
  <div class="bg_yellow login_area">
    <div class="close_menu"><img src="images/header/right_arrow.png"></div>
    <a href="javascript:alert('로그인')">
      <div class="profile_area">
        <div class="profile_img">
          <img src="images/header/defaultUser.jpg">
        </div>
        <div class="profile_txt">
          <strong>로그인/회원가입</strong>
        </div>
        <!-- 로그인 시 -->
        <!-- <div class="profile_txt login">
          <div class="nickname"><strong>닉네임</strong></div>
          <div class="amend"><strong>프로필 관리</strong></div>
        </div>  -->
      </div>
    </a>
  </div>


  <div class="used_area">
    <div>
      <a href="javascript:alert('예약리스트')">
        <div>
          <img src="images/header/ico_reservationlist.png" class="ico">
          <div>예약 리스트</div>
        </div>
      </a>
    </div>
      <div>
        <a href="javascript:alert('예약리스트')">
          <div>
            <img src="images/header/ico_manage.png" class="ico">
            <div>
              이용후기<br>Q&amp;A관리
            </div>
          </div>
        </a>
      </div>
    <div>
      <a href="javascript:alert('찜한공간')">
        <div>
          <img src="images/header/ico_zzim.png" class="ico">
          <div>찜한공간</div>
        </div>
      </a>
    </div>
  </div>

  <div class="plan_area bg_purple">
    <a href="javascript:alert('기획전');"><div class="plan_txt">이달의 기획전</div></a>
  </div>

  <div class="notice_area" id="notice">
    <ul>
      <li data-url="home">
        스페이드클라우드 홈
      </li>
      <li data-url="공지사항">
        공지사항
      </li>
      <li data-url="도움말">
        도움말
      </li>
      <li data-url="1:1문의">
        1:1문의
      </li>
      <li data-url="service">
        서비스 정보
        <ul class="service_sub">
          <li data-url="introduction"> - 서비스 소개</li>
          <li data-url="terms"> - 이용약관</li>
          <li data-url="privacy"> - 개인정보처리방침</li>
          <li data-url="operate"> - 운영정책</li>
        </ul>
      </li>
    </ul>
  </div>
</div>


<!-- header랑 sidemenu는 변경 가능성이 있습니다. -->
<header>
  <div class="logo_area">빌려주오</div>
  <div class="search_area">
    <img src="images/header/search-gray.png" class="ico_search">
    <img src="images/header/search-cancel.png" class="ico_cancel">
    <input type="text" class="input search" placeholder="지역, 공간유형, 공간명으로 찾아보세요">
  </div>
  <div class="menu_area">
    <img src="images/header/menu.png" class="ico_menu">
    
  </div>
</header>

<main>
  <section id="booking-wrap">
  <section class="booking-title">
    <div class="booking-img">
      <h3>공간 이름</h3><h3>결제 및 예약내역입니다.</h3>
    </div>
  </section>

    <section id="booking-info">
      <article class="booking-table">
        <div>
          <h4>예약내용</h4>
          <p class="bookingNo" style="float: right;">예약번호 : 30030303</p>
        </div>

        <div>
          <h5>결제일</h5>
          <p>44444444444444</p>
        </div>

        <div>
          <h5>예약공간</h5>
          <p>4</p>
        </div>

        <div>
          <h5>예약내용</h5>
          <p></p>
        </div>

        <div>
          <h5>예약 인원</h5>
          <p></p>
        </div>

        <div>
          <h5>요청사항</h5>
          <p></p>
        </div>

        <div>
          <h5>사용목적</h5>
          <p></p>
        </div>


      </article>
      <article class="booking-table">
        <div>
          <h4>예약자 정보</h4>
        </div>

        <div>
          <h5>예약자명</h5>
          <p></p>
        </div>
        <div>
          <h5>연락처</h5>
          <p></p>
        </div>
        <div>
          <h5>이메일</h5>
          <p></p>
        </div>

      </article>
      <article class="booking-table">
        <div>
          <h4>환불규정 안내</h4>
        </div>
  
        <div>
          <h5 style="width: 90%; color: rgb(214, 0, 0); font-weight: bold;">이용당일(첫 날)에 환불 관련 사항은 호스트에게 직접 문의하셔야 합니다</h5>
          <p> 환불규정 가져오기</p>
        </div>
        
      </article>
      <article class="booking-table">
        <div style="background-color: white; ">
          <h4>예약공간 이름</h4>
        </div>
        
        <div>
          <p>주소</p><br>
          <p>전화번호</p><br>
        </div>

        <div>
          <a href="" class="">전화걸기</a>
          <a href="">길찾기</a>
        </div>

        <div class="map-aip">
        </div>
        </article>
      
    </section>

    <aside id="cancel-control">
      <article class="cancel-info-box">
        <div>
          <h4>결제 금액</h4>
        </div>

        <div class="cancel-info-wrap cancel-bdPurple">
          <div>
            <h5>결제일</h5>
            <p> 2021.12.14</p>
          </div>

          <div>
            <h5>예약일자</h5>
            <p> 2021.12.14</p>
          </div>

          <div>
            <h5>예약인원</h5>
            <p> 0명</p>
          </div>

          <div class="cancel-bdPurple" style="margin-top: 10px;">
            <h5 style="width: 100px;" >총 결제금액</h5>
            <p style="width: 200px; text-align: right;">000,000원</p>
          </div>
        </div>

        <div id="cancel-btn" class="btn"> 
          <a href="" >예약취소</a>
        </div>
      </article>
    </aside>

  </section>
</main>

<div class="space"></div>

<footer class="footer">
  <div class="footer-contents">
    <div class="footer-contents-1">
      <div id="footer-logo">
        빌려주오
      </div>
      <div id="footer-blog">
        <ul>
          <li><a href="#">블로그</a></li>
          <li><a href="#">이용약관</a></li>
          <li><a href="#">개인정보처리방침</a></li>
          <li><a href="#">운영정책</a></li>
          <li><a href="#">고객문의</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-contents-2">
      <ul>
        <li>상호명: <a href="#">주식회사앤스페이스</a></li>
        <li>대표:정수현</li>
        <li>사업자등록번호: 230-81-03117</li>
        <li>통신판매업신고번호: 2018-서울강남-04590</li>
        <li><a href="#">사업자등록정보</a></li>
        <li>영업소재지: 서울특별시 강남구 삼성로 414</li>
        <li>이메일<a href="#">office@spacecloud.kr </a></li>
        <li>대표전화: 1599-4312(평일 오후 2시 ~ 오후 6시)</li>
        <li><a href="#">1:1 온라인문의 바로가기</a>(평일 오전 10시 ~ 오후 6시)</li>
      </ul>
    </div>
    <div class="footer-contents-3">
      <span>스페이스클라우드는 통신판매중개자이며 통신판매의 당사자가 아닙니다. <br>따라서 스페이스클라우드는 공간 거래정보 및 거래에 대해 책임지지 않습니다.</span>
      <span>Copyright NSPACE Corp. All Rights Reserved.</span>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="js/common.js"></script>
</body>
</html>