<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <style>
        
        /* font느림 */
        /* @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); */
        /* common.css */
        html, body{margin:0; padding:0; overflow-x:hidden; font-family: "Noto Sans KR", sans-serif !important; font-size:15px; color:#656565;}
        header{white-space:nowrap; height:80px; background-color:#fff; line-height:78px; width:100%; min-width:1140px; border-bottom:1px solid black; position:fixed; display: flex;}
        main{width:1140px; margin:auto; margin-top:80px;}
        footer{width:100%; height:300px;}
        a{color:rgba(114, 114, 114, 1); text-decoration:none;}
        a:hover{text-decoration:none;}
        ul{padding:0; margin:0; list-style-type:none;}

        /* button, selectbox, input 태그 사용시 아래 클래스 추가 */
        .btn{font-size:20px;}
        .selectBox{width:150px; height:40px;}
        .input{border:1px solid rgba(176, 176, 176, 1); background-color:#f6f6f6;}

        /* color, background-color */
        .purple{color:#704de4;}
        .yellow{color:#ffd014}
        .gray{color:rgba(114, 114, 114, 1);}
        .bgPurple{background-color:#704de4;}
        .bgYellow{background-color:#ffd014}
        .bgGray{background-color:rgba(114, 114, 114, 1);}

        /* test */
        #notice > ul > li::after{content:""; background: url(images/header/ico_right_arrow.png) no-repeat 0.15em/50% 50%; padding: 14px 14px; white-space: nowrap; position: absolute; display: inline-block; right: 0;}

        #notice > ul > li > .service_sub{display:none;}
        #notice > ul > li > .service_sub.active{display:block;}
        
        /* 
            css 파일 따로 만들것
            js 파일 따로 만들것

            common.css, common.js 모든페이지에서 공통으로 쓸거에요
        */
    </style>
    <link rel="stylesheet" type="text/css" href="css/common.css">    
    <link rel="stylesheet" type="text/css" href="css/space-style.css">    
</head>
<body>
<!-- side menu -->
<div class="modal"></div>

<div class="sideMenu">
    <div style="height:180px;" class="bgYellow">
        <div class="closeMenu"><img src="images/header/right_arrow.png"></div>
        <a href="javascript:alert('로그인')">
            <div style="width:100%; height:100%;">
                <div style="position:absolute; height:180px;">
                    <img src="images/header/defaultUser.jpg" style="width:110px; height:110px; border-radius: 55px; margin:35px 30px;">
                </div>
                <div style="width:175px; margin-left:170px; position:relative; top:70px;">
                    <strong style="font-size:22px; color:black;">로그인/회원가입</strong>
                </div>
                <!-- 로그인 시
                <div style="width:175px; margin-left:170px; position:relative; top:58px;">
                    <div style="margin-bottom:7px;"><strong style="font-size:22px; color:black;">닉네임</strong></div>
                    <div><strong style="font-size:14px; color:black;">프로필 관리</strong></div>
                </div> 
                -->
            </div>
        </a>
    </div>

    <div style="height:120px; display:flex; background-color:#fff;">
        <div style="width:33.3%; height:100%; display:inline-block;">
            <a href="javascript:alert('예약리스트')">
                <div style="text-align: center; position:relative; top:30px;">
                    <img src="images/header/ico_reservationlist.png" style="width:34px; height:34px;">
                    <div>예약 리스트</div>
                </div>
            </a>
        </div>
        <div style="width:33.3%; height:100%; display:inline-block;">
            <a href="javascript:alert('예약리스트')">
                <div style="text-align: center; position:relative; top:30px;">
                    <img src="images/header/ico_manage.png" style="width:34px; height:34px;">
                    <div>
                        이용후기<br>
                        Q&amp;A관리
                    </div>
                </div>
            </a>
        </div>
        <div style="width:33.3%; height:100%; display:inline-block;">
            <a href="javascript:alert('찜한공간')">
                <div style="text-align: center; position:relative; top:30px;">
                    <img src="images/header/ico_zzim.png" style="width:34px; height:34px;">
                    <div>찜한공간</div>
                </div>
            </a>
        </div>
    </div>

    <div style="height:70px; margin-bottom:10px;" class="bgPurple">
        <a href="javascript:alert('기획전');"><div style="color:white; height:70px; line-height:68px; font-size:20px; margin-left:30px;">이달의 기획전</div></a>
    </div>


    <div id="notice">
        <ul>
            <li style="border-top:1px solid #ebebeb; background:#fff; font-size:18px; padding: 17px 25px 16px; cursor:pointer;" data-url="home">
                스페이드클라우드 홈
            </li>
            <li style="border-top:1px solid #ebebeb; background:#fff; font-size:18px; padding: 17px 25px 16px; cursor:pointer;" data-url="공지사항">
                공지사항
            </li>
            <li style="border-top:1px solid #ebebeb; background:#fff; font-size:18px; padding: 17px 25px 16px; cursor:pointer;" data-url="도움말">
                도움말
            </li>
            <li style="border-top:1px solid #ebebeb; background:#fff; font-size:18px; padding: 17px 25px 16px; cursor:pointer;" data-url="1:1문의">
                1:1문의
            </li>
            <li style="border-top:1px solid #ebebeb; background:#fff; font-size:18px; padding: 17px 25px 16px; cursor:pointer;" data-url="service">
                서비스 정보
                <ul class="service_sub" style="position:absolute; margin-top:16px; font-size:12px; width:100%;">
                    <li style="border-top:1px solid #ebebeb; background:#fff; font-size:13px; padding: 9px 25px 8px; cursor:pointer;" data-url="introduction"> - 서비스 소개</li>
                    <li style="border-top:1px solid #ebebeb; background:#fff; font-size:13px; padding: 9px 25px 8px; cursor:pointer;" data-url="terms"> - 이용약관</li>
                    <li style="border-top:1px solid #ebebeb; background:#fff; font-size:13px; padding: 9px 25px 8px; cursor:pointer;" data-url="privacy"> - 개인정보처리방침</li>
                    <li style="border-top:1px solid #ebebeb; background:#fff; font-size:13px; padding: 9px 25px 8px; cursor:pointer;" data-url="operate"> - 운영정책</li>
                </ul>
            </li>
        </ul>


    </div>
</div>

<!-- header랑 sidemenu는 변경 가능성이 있습니다. -->
<header>
    <div style="width:180px; text-align:center; font-size:28px; color:black; font-weight:bold;">빌려듀오</div>
    <div style="width:calc(100% - 260px);">
        <img src="images/header/search-gray.png" style="position:absolute; top:28px; left:10px;">
        <input type="text" class="input" style="height:46px; width:400px; font-size:16px; padding:0 38px; border-radius:25px;" placeholder="지역, 공간유형, 공간명으로 찾아보세요">
        <img src="images/header/search-cancel.png" style="position:absolute; top:32px; left:450px;">
    </div>
    <div style="width:80px; text-align:center;">
        <img src="images/header/menu.png" class="menuIcon" style="vertical-align:middle; cursor:pointer;">
    </div>
</header>

<main>
    <section class="cont detail-forms">
        <!--------------------------------------------------------------------------------------------------------------------------->
        <section>
            <div class="space">
                <h2 class="space-name">홍대입구역 연결, 복층 드라마티코</h2>
            </div>

            <!-- 부제-1 -->
            <p class="sub-desc">홍대가 한눈에 내려다보이는 통창과 아늑한 복층</p>
            <div class="tags">
                <span class="tag">#홍대파티룸</span>
                <span class="tag">#복층파티룸</span>
                <span class="tag">#홍대입구역파티룸</span>
                <span class="tag">#브라이덜샤워</span>
                <span class="tag">#스튜디오</span>
            </div>
        </section>
        <section class="detail-forms">
            <!-- height:400px;  -->

            <div class="photo-box-wrap">

                <!-- 공간 이미지 -->
                <div class="detail-box">
                    <div class="space-img"></div>
                </div>

                <!-- 부제-2 영역 -->
                <div class="text-box">
                    <h3 class="h-copy">홍대가 한눈에 내려다보이는 통창과 아늑한 복층</h3>
                </div>

                <!-- 메뉴 탭 영역 -->
                <div class="nav-wrapper">
                    <ul class="nav-area">
                        <li><a href="#">공간소개</a></li>
                        <li><a href="#">시설안내</a></li>
                        <li><a href="#">유의사항</a></li>
                        <li><a href="#">Q&A</a></li>
                        <li><a href="#">이용후기</a></li>
                    </ul>
                </div>

            </div>

            <!-- 공간소개, 시설안내, 유의사항, Q&A, 이용후기 작성 부분  -->
            <div class="meetspace">

                <!-- 공간소개 -->
                <div id="s-intro" class="text-box">
                    <h4 class="h-intro">공간 소개</h4>

                    <p class="p-intro">
                        저희 드라마티코는 층고 4M의 복층, 10평의 1층 공간과 4.5평의 2층 으로 이루어진 아늑한 파티룸입니다.
                        <br><br>
                        건물의 탑층의 위치한 저희 공간의 문을 열고 들어오시면, 통창으로 홍대가 한눈에 내려다 보이는 전망을 품고 있습니다.
                        19층의 까마득한 높이는 마치 펜트하우스와 같은 신선한 느낌을 제공합니다.
                        <br>
                        또한 공간이 홍대입구역 1번출구와 연결되어 있어서, 비나 눈이 오는 날에도 편하게 오실 수 있습니다.
                        <br>
                        다양한 파티, 브라이덜샤워 , 소모임 뿐만 아니라 통창으로 깊게 들어오는 햇살이 매력적인 스튜디오(영상, 사진 등)로도 사용 가능 합니다.
                        <br><br>
                        전신 거울 / 마네킹 / 스팀 다리미 / 조명 화장대 / 드라이기 / 고데기 가 구비 되어 있어 다양한 프로덕트 샷과 거울 샷, 인물 촬영이 가능합니다.
                        <br><br>
                        낮대관 (11시 ~ 17시) : 7만원(월~목) / 9만원 (금,토,일)
                        <br>
                        밤대관 (19시 ~ 09시) : 11만원 (일~목) / 15만원 (금,토)
                        * 상업용 촬영 문의 전화 문의
                        <br><br>

                    </p>

                    <!-- 영업 시간, 휴무일 리스트 -->
                    <ul class="info-list officehours">
                        <li>
                            <span class="tit">영업시간</span>
                            <span class="data">0~24시</span>
                        </li>
                        <li>
                            <span class="tit">휴무일</span>
                            <span class="data">없음</span>
                        </li>
                    </ul>
                </div>

                <!-- 시설안내 -->
                <div id="s-info" class="text-box">
                    <h4 class="h-intro">시설 안내</h4>

                    <ol class="info-list">
                        <li>
                            <strong class="tit">1</strong>
                            <span class="data">홍대입구역 1번 출구 지하로 연결되어 있습니다.</span>
                        </li>
                        <li>
                            <strong class="tit">2</strong>
                            <span class="data">최대 10인용 코렐 식기와 다양한 식사 용품들이 구비되어 있습니다.</span>
                        </li>
                        <li>
                            <strong class="tit">3</strong>
                            <span class="data">55인치 벽걸이 TV, 공기청정기 , 가습기 , WIFI , 난방기(보일러 잘 됩니다만 추가로) 완비
                                되어있습니다.</span>
                        </li>
                        <li>
                            <strong class="tit">4</strong>
                            <span class="data">냉장고와 전자레인지, 커피포트가 준비되어 있습니다.</span>
                        </li>
                        <li>
                            <strong class="tit">5</strong>
                            <span class="data">주류 및 음식물 반입, 간단한 조리 가능합니다.</span>
                        </li>
                        <li>
                            <strong class="tit">6</strong>
                            <span class="data">샤워 시설이 완비되어 있습니다.</span>
                        </li>
                        <li>
                            <strong class="tit">7</strong>
                            <span class="data">유료 주차장이 존재하나, 주차 비용이 비싼 편입니다. 대중교통 이용을 권장해드립니다.</span>
                        </li>
                    </ol>

                </div>

                <!-- 유의사항 -->
                <div id="s-cautoion" class="text-box">
                    <h4 class="h-intro">예약 주의사항</h4>

                    <ol class="info-list">
                        <li>
                            <strong class="tit">1</strong>
                            <span class="data">보증금 입금 후에 예약이 최종 완료 됩니다. 보증금은 공간 상태 양호 , 비품 파손이 없을 시 바로
                                반환해드립니다.</span>
                        </li>
                        <li>
                            <strong class="tit">2</strong>
                            <span class="data">입실과 퇴실 시간을 엄수해주세요. 불가피한 상황으로 변동이 필요할 시 사전에 필히 연락을 부탁드립니다.</span>
                        </li>
                        <li>
                            <strong class="tit">3</strong>
                            <span class="data">권장 인원수는 6명으로 최대 인원은 10명입니다. 인원 추가 시 1인당 1만원의 별도 비용이 발생합니다. (코로나 정책으로
                                현 최대 6인)</span>
                        </li>
                        <li>
                            <strong class="tit">4</strong>
                            <span class="data">대여 공간 및 가구, 소품, 비품 , 가전제품 등을 훼손하시면 물품 가액을 변상해주셔야 합니다. 통보 없이 퇴실 시
                                보증금에서 차감 및 물품 가액의 2배를 변상해주셔야 합니다.</span>
                        </li>
                        <li>
                            <strong class="tit">5</strong>
                            <span class="data">대여 공간 및 해당 건물 내부에서 절대 금연입니다. 흡연 적발 시 퇴실 조치 및 보증금 환급 불가합니다</span>
                        </li>
                        <li>
                            <strong class="tit">6</strong>
                            <span class="data">쾌적한 공간을 만들기 위하여 기본적인 뒷정리를 해주시면 감사하겠습니다. (가구 원위치, 분리수거, 음식물 쓰레기 정리
                                등)</span>
                        </li>
                        <li>
                            <strong class="tit">7</strong>
                            <span class="data">화재 위험이 있는 물품은 반입 금지입니다. 부주의로 인한 화재 발생 시 모든 책임은 공간 대여자에게 있습니다.</span>
                        </li>
                        <li>
                            <strong class="tit">8</strong>
                            <span class="data">반려 동물 동반 금지입니다. 공간 특성상 불가한 점 양해 부탁드립니다.</span>
                        </li>
                        <li>
                            <strong class="tit">9</strong>
                            <span class="data">전문촬영문의는 @freespacerental 로 부탁드립니다.</span>
                        </li>
                    </ol>
                </div>


                <!-- 환불규정 안내 -->
                <div id="s-refund" class="text-box">
                    <h4 class="h-intro">환불규정 안내</h4>

                    <p class="txt-notice refund">
                        <em class="warn">
                            이용당일(첫 날) 이후에 환불 관련 사항은 호스트에게 직접 문의하셔야 합니다.
                        </em>
                        <br>
                        결제 후 2시간 이내에는 100% 환불이 가능합니다.(단,이용시간 전까지만 가능)
                    </p>


                    <ol class="info-list">
                        <li>
                            <strong class="tit">이용 8일 전</strong>
                            <span class="data">총 금액의 100% 환불</span>
                        </li>
                        <li>
                            <strong class="tit">이용 7일 전</strong>
                            <span class="data">총 금액의 100% 환불</span>
                        </li>
                        <li>
                            <strong class="tit">이용 6일 전</strong>
                            <span class="data">총 금액의 100% 환불</span>
                        </li>
                        <li>
                            <strong class="tit">이용 5일 전</strong>
                            <span class="data">총 금액의 80% 환불</span>
                        </li>
                        <li>
                            <strong class="tit">이용 4일 전</strong>
                            <span class="data">총 금액의 60% 환불</span>
                        </li>
                        <li>
                            <strong class="tit">이용 3일 전</strong>
                            <span class="data">총 금액의 50% 환불</span>
                        </li>
                        <li>
                            <strong class="tit">이용 2일 전</strong>
                            <span class="data">총 금액의 30% 환불</span>
                        </li>
                        <li>
                            <strong class="tit">이용 전날</strong>
                            <span class="data">환불 불가</span>
                        </li>
                        <li>
                            <strong class="tit">이용 당일</strong>
                            <span class="data">환불 불가</span>
                        </li>
                    </ol>
                </div>



                <!-- 지도 영역 -->
                <div class="detail-box map-box">

                    <div class="host-profile">
                        <div class="inner">
                            <div class="sp-location">
                                <p class="sp-name">홍대입구역 연결, 복층 드라마티코</p>
                                <p class="sp-address">서울 마포구 양화로 157 파라다이스텔 1904호</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a class="btn btn-rounded btn-call">
                                        <span class="btn_inner">전화걸기</span>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#" target="_blank" class="btn btn-rounded btn-way">
                                        <span class="btn_inner way">길찾기</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 지도 -->
                    <div class="map">
                        <div id="map"></div>
                    </div>
                </div>



                <!-- Q&A  -->
                <div>
                    <div id="s-qna" class="text-box">
                        <h4 class="h-intro">Q&A <strong class="txt-primary"><em
                                    style="font-style: initial;">16</em>개</strong> </h4>
                        <a class="btn-qna-write"><span class="sp-icon icon-write"></span> <span>질문 작성하기</span></a>
                    </div>

                    <div class="review_box">
                        <ul class="review_list">
                            <li class="rlist">

                                <!-- 게스트 문의 -->
                                <div class="rbox-mine">

                                    <!-- 프로필 이미지 -->
                                    <span class="pf-img"
                                        style="background-image: url('https://kr.object.ncloudstorage.com/scloud-service/service/163854526_f97d3d748b273f6b8f062d90a949e0c6.jpeg');"></span>
                                    <strong class="guest-name">la16</strong>
                                    <p class="p-review">
                                        12/13 올나잇 결제 중에 취소됐는데 예약 안되는건가요?
                                    </p>
                                    <div class="rbox-info-base">
                                        <span class="time-info">2021.12.04 00:29:38</span>
                                    </div>
                                </div>

                                <!-- 호스트 답글 -->
                                <div class="rbox-reply">
                                    <p class="p-tit-reply"><em>호스트</em>의 답글</p>
                                    <p class="p-review">
                                        저희 예약은 현재 정상적으로 진행되고 있는 것으로 알고 있습니다 혹시 계속 예약에 문제가 있으시면 오전중에 전화로 연락 주세요 저희가
                                        확인해 보겠습니다
                                    </p>
                                    <!---->
                                    <div class="rbox-info-base">
                                        <p class="time-info">2021.12.04 01:21:10 </p>
                                    </div>
                                </div>
                            </li>

                            <!-- 삭제된 게스트 문의 -->
                            <li class="rlist del-review">
                                <div class="rbox-mine">
                                    <strong class="guest-name">Latte1210</strong>
                                    <p class="p-review">
                                        게스트에 의해 삭제된 문의입니다.
                                    </p>
                                    <div class="rbox-info-base"></div>
                                </div>
                            </li>


                            <li class="rlist">
                                <div class="rbox-mine">
                                    <span class="pf-img"
                                        style="background-image: url('https://kr.object.ncloudstorage.com/scloud-service/service/163800592_0e26daccee248a36bc0f7e30b10dca7f.jpeg');"></span>
                                    <strong class="guest-name">다소니</strong>
                                    <p class="p-review">
                                        보증금에 대한 것은 호스트분께서 따로 연락 주시나요?̊̈
                                    </p>
                                    <div class="rbox-info-base">
                                        <span class="time-info">2021.11.27 18:37:56</span>
                                    </div>
                                </div>

                                <div class="rbox-reply">
                                    <p class="p-tit-reply"><em>호스트</em>의 답글</p>
                                    <p class="p-review">
                                        네 하루전 쯤 따로 연락드리고 있습니다
                                    </p>
                                    <div class="rbox-info-base">
                                        <p class="time-info"> 2021.11.27 18:38:52</p>
                                    </div>
                                </div>
                            </li>
                        </ul>


                        <!-- Q&A 페이징 -->
                        <!-- 화살표 이미지 찾아야됨 -->
                        <div class="paging">
                            <a class="btn btn_prev_list_end"> &lt;&lt; </a>
                            <a class="btn btn_prev_list"> &lt; </a>
                            <a class="num active">1</a>
                            <a class="num">2</a>
                            <a class="num">3</a>
                            <a class="num">4</a>
                            <a class="num">5</a>
                            <a class="btn btn_next_list active"> &gt; </a>
                            <a class="btn btn_next_list_end active"> &gt;&gt; </a>
                        </div>
                    </div>
                </div>

                <!-- 리뷰  -->
                <div>
                    <div id="s-review" class="text-box">
                        <h4 class="h-intro">
                            이용 후기<strong class="txt-primary"><em>6</em>개</strong>
                            <span>
                                평균 평점<strong class="txt-primary"><em>5.0</em></strong>
                            </span>
                        </h4>

                        <!-- 사진 후기만 보기 -->
                        <!-- 이미지 필요 -->
                        <div class="switch-item">
                            <input id="photo-list-view" type="checkbox" class="shitch">
                            <label for="photo-list-view">사진 후기만 보기</label>
                        </div>

                    </div>
                    <div class="review_box">
                        <ul class="review_list">
                            <li class="rlist">

                                <!-- 리뷰 -->
                                <div class="rbox-mine">

                                    <!-- 프로필 이미지 -->
                                    <span class="pf-img"
                                        style="background-image: url('https://kr.object.ncloudstorage.com/scloud-service/service/163854526_f97d3d748b273f6b8f062d90a949e0c6.jpeg');"></span>
                                    <strong class="guest-name">달려라방탄</strong>

                                    <!-- 평점 -->
                                    <!-- 별 이미지 필요 -->
                                    <span class="rate_area">
                                        <span class="rate active">★</span>
                                        <span class="rate active">★</span>
                                        <span class="rate active">★</span>
                                        <span class="rate active">★</span>
                                        <span class="rate">☆</span>
                                    </span>
                                   
                                    <p class="p-review">
                                        음. 이걸 뭐라고 할까요. 공간은 진짜 좋았는데 인터넷이 완전 똥망입니다 온라인 콘 보려고 일부러 홍대에 티비로 볼 수 있는 공간 찾아서 예약했는데 정말 WTF 🤯🤬😡인터넷때문에 4K로도 볼 수 없었어요 깨끗한 공간을 찾으시는 분에겐 정말 딱인데요 온라인콘이나 안정적인 인터넷을 원하시는 분은 비추입니다
                                    </p>

                                    <!-- 리뷰 이미지 -->
                                    <article class="box box_space">
                                        <span class="img" style='background-image: url("https://moplqfgeemqv2103108.cdn.ntruss.com/service/163854176_44687629786b4a0c540a5dd480e3305d.jpeg?type=m&w=900&h=900&autorotate=true&quality=90");'>

                                        </span>

                                    </article>

                                    <div class="rbox-info-base">
                                        <span class="time-info">2021.12.04 00:29:38</span>
                                    </div>
                                </div>

                                <!-- 호스트 답글 -->
                                <div class="rbox-reply">
                                    <p class="p-tit-reply"><em>호스트</em>의 답글</p>
                                    <p class="p-review">
                                        우선 후기에 감사드립니다. 인터넷 상태 때문에 즐거우셨어야 할 소중한 시간에 불편함을 드려 정말 죄송하다는 말씀 드립니다. 파티 공간을 운영함에 있어서, 미처 온라인 콘서트와 같은 빠른 인터넷이 필요한 상황을 인지하지 못하여 사전에 관련된 정보를 드리지 못한 점도 죄송하게 생각하고 있습니다. 개선해야 할 상황에 대하여 짚어 주신 것에 감사합니다. 고객님께서 지적해주신 부분에 대하여 같은 문제가 발생하지 않도록 더욱 노력하는 드라마티코가 되도록 하겠습니다.
                                    </p>
                                    <!---->
                                    <div class="rbox-info-base">
                                        <p class="time-info">2021.12.04 01:21:10 </p>
                                    </div>
                                </div>
                            </li>

                        </ul>


                        <!-- Q&A 페이징 -->
                        <!-- 화살표 이미지 찾아야됨 -->
                        <div class="paging">
                            <a class="btn btn_prev_list_end"> &lt;&lt; </a>
                            <a class="btn btn_prev_list"> &lt; </a>
                            <a class="num active">1</a>
                            <a class="num">2</a>
                            <a class="num">3</a>
                            <a class="num">4</a>
                            <a class="num">5</a>
                            <a class="btn btn_next_list active"> &gt; </a>
                            <a class="btn btn_next_list_end active"> &gt;&gt; </a>
                        </div>
                    </div>
                </div>
                <!--------------------------------------------------------------------------------------------------------------------------->



                <div style="position:absolute; width:350px; height:400px; top:0; right:0; background-color:#fff;">
                    <div
                        style="height:40px; line-height:38px; font-weight:bold; color:#000; border-bottom:3px solid #704de4; background-color:#f6f6f6;">
                        <div>세부공간 선택</div>
                        <div style="position:absolute; top:0; right:5px;">
                            <img src="images//icon/favorite_border.svg" style="vertical-align:middle;">
                        </div>
                    </div>

                    <div>
                        <div class="space_btn" style="padding:20px 10px;">
                            <div style="position:relative; display:flex;">
                                <input type="radio" name="space" id="a-1" data-value="space-a"
                                    style="position:absolute; height:100%;">
                                <label for="a-1"
                                    style="padding-left:25px; display:inline-block; width:170px;">A홀-20평A홀-20평A홀-20평A홀-20평</label>
                                <div style="width:135px; display:flex; align-items:center; justify-content:end;">
                                    <strong style="font-size:20px;">\15,000 </strong>
                                    <span style="font-size:11px; margin-left:5px;"> / 시간</span>
                                </div>
                            </div>

                        </div>
                        <div class="space_detail space-a"
                            style="width:100%; border:1px solid #704de4; box-sizing:border-box; margin-bottom:20px; display:none;">
                            <div style="position:relative; text-align:center; margin-bottom:20px;">
                                <img src="images/space_img/sadang.jpg"
                                    style="width:320px; height:200px; margin:20px auto;">
                            </div>
                            <div style="width:320px; margin:20px auto;">
                                ■ 약 13평 (적정인원 1~10명)■
                                <br><br><br><br><br>
                                평일 0~6시 5000원/6~8시 4000원 8~16시 6000원 / 16~24시 7000원
                                <br>
                                주말&공휴일0~6시5000원/ 6~12시 6000원 / 12~24시 7000원
                                <br><br>
                                ( 새벽 0~6시 통대관) 20000원
                                <br><br>
                                에어컨시설비 사용폭등으로 시간및가격조정이 들어갔습니다 (양해부탁드립니다)
                                <br><br>
                            </div>
                            <div style="width:320px; margin:20px auto;">
                                <ul>
                                    <li>
                                        <span>공간 유형</span>
                                        <span>연습실 보컬연습실</span>
                                    </li>
                                    <li>
                                        <span>예약시간</span>
                                        <span>1일</span>
                                    </li>
                                    <li>
                                        <span>수용인원</span>
                                        <span>최소 1명 ~ 최대 5명</span>
                                    </li>
                                </ul>
                            </div>

                            <div style="width:320px; margin:20px auto;">
                                <ul style="display:table-cell;">
                                    <li style="width:100px; height:50px; float:left;">
                                        <div
                                            style="width:100px; display:flex; align-items:center; justify-content:end;">
                                            <span
                                                style="background: url(images/icon/chair.svg) no-repeat; background-size:contain; width:34px; height:34px; display:inline-block;"></span>
                                            <span
                                                style="font-size:12px; width:45px; margin:0 5px 0 15px;">의자/<br>테이블</span>
                                        </div>
                                    </li>
                                    <li style="width:100px; height:50px; float:left;">
                                        <div
                                            style="width:100px; display:flex; align-items:center; justify-content:end;">
                                            <span
                                                style="background: url(images/icon/computer.svg) no-repeat; background-size:contain; width:34px; height:34px; display:inline-block;"></span>
                                            <span
                                                style="font-size:12px; width:45px; margin:0 5px 0 15px;">PC/<br>노트북</span>
                                        </div>
                                    </li>
                                    <li style="width:100px; height:50px; float:left;">
                                        <div
                                            style="width:100px; display:flex; align-items:center; justify-content:end;">
                                            <span
                                                style="background: url(images/icon/no_smoke.svg) no-repeat; background-size:contain; width:34px; height:34px; display:inline-block;"></span>
                                            <span style="font-size:12px; width:45px; margin:0 5px 0 15px;">금연</span>
                                        </div>
                                    </li>
                                    <li style="width:100px; height:50px; float:left;">
                                        <div
                                            style="width:100px; display:flex; align-items:center; justify-content:end;">
                                            <span
                                                style="background: url(images/icon/parking.svg) no-repeat; background-size:contain; width:34px; height:34px; display:inline-block;"></span>
                                            <span style="font-size:12px; width:45px; margin:0 5px 0 15px;">주차</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div style="width:320px; margin:20px auto;">
                                <div
                                    style="height:34px; border-bottom:3px solid #704de4; margin-bottom:10px; color:#000; font-size:18px; font-weight:bold;">
                                    날짜 선택
                                    <span id="selectedDateText" class="purple"
                                        style="float:right; display:inline-block; letter-spacing:-0.5px;"></span>
                                </div>
                                <div>
                                    <div id="datepicker"></div>
                                </div>
                                <input type="hidden" id="selectedDate" name="selectedDate">
                            </div>
                        </div>

                        <!-- <div class="space_btn" style="padding:20px 10px; border-top:1px solid #949494;">
                        <div style="position:relative; display:flex;">
                            <input type="radio" name="space" id="a-2" style="position:absolute; height:100%;">
                            <label for="a-2" style="padding-left:25px; display:inline-block; width:170px;">[골드스톤]asdf123123a</label>
                            <div style="width:135px; display:flex; align-items:center; justify-content:end;">
                                <strong style="font-size:20px;">\555,000 </strong>
                                <span style="font-size:11px; margin-left:5px;"> / 시간</span>
                            </div>
                        </div>
                    </div> -->
                        <div>
                            <a href="javascript:payment();"
                                style="width:100%; height:60px; line-height:60px; text-align:center; background-color:#704de4; color:#fff; display:inline-block;">결제하기</a>
                        </div>
                    </div>

                </div>
        </section>
    </section>
</main>

<footer></footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>

    // common.js
    $(function () {
        $(".menuIcon").on("click", function () {
            if ($(".sideMenu").hasClass("active")) {
                $(".sideMenu").removeClass("active");
                
                $(".modal").hide();
            } else {
                $(".sideMenu").addClass("active");
                $(".modal").show();
            }
        });

        $(".modal").on("click", function () {
            $(".sideMenu").removeClass("active");
            $(".modal").hide();
        });

        $(".closeMenu").on("click", function () {
            $(".sideMenu").removeClass("active");
            $(".modal").hide();
        });

        $("#notice > ul > li").on("click", function () {
            const url = $(this).data("url");
            if (url == "service") {
                if ($(".service_sub").hasClass("active")) {
                    $(".service_sub").removeClass("active");
                } else {
                    $(".service_sub").addClass("active");
                }

            } else {
                alert(url);
            }
        })

        $("#notice > ul > li .service_sub > li").on("click", function () {
            const url = $(this).data("url");
            alert(url);
        })


        

    });
</script>
</body>
</html>